*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background: rgb(40, 40, 40);

}
.card{
    background: rgb(100, 100, 100);
    width:20rem;
    padding-inline: 0.5rem;
    padding-block: 0.2rem;
    border-radius: 0.2rem;
}
.cardHolder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    // margin-top: 1rem;
    // margin-left: 0.2rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.form{
    display: flex;
    gap: 0.5rem;
    height: 1.5rem;
}